@use '../abstracts/' as *;

/**
  	* daypack-section
	* drifter-section
  	* collections-section
	* shop section 
*/


.daypack-section {
    padding: 302px 0 340px;
    background: url(./../../assets/images/section/bg-section-1.jpg) scroll left/auto;
    background-repeat: no-repeat;
    .heading-section {
        margin-left: 44%;
        .box-heading {
            border: 3px solid $color-3;
            padding: 56px 102px 23px 174px;
            h3 {
                margin-right: 52px;
                letter-spacing: -0.1px;
            }
            .text-box {
                line-height: 39.5px;
            }
            .icon-box {
                position: absolute;
                right: 169px;
                bottom: -76px;
                background-color: $color-1;
                padding: 0 90px;
            }
            h1 {
                position: absolute;
                left: -34.5%;
                top: 97px;
                letter-spacing: 12.5px;
            }
        }
    }
}

.drifter-section {
    padding: 300px 0 308px;
    background: url(./../../assets/images/section/bg-section-2.jpg) no-repeat scroll right/auto;
    background-color: #ededed;
    .heading-section {
        margin-right: 43.1%;
        margin-left: -3px;
        .box-heading {
            border: 3px solid $color-3;
            padding: 29px 9px 50px 64px;
            .text-box {
                line-height: 39.5px;
                width: 46.5%;
                margin-right: 15px;
            }
            h3 {
                letter-spacing: -0.1px;
                margin-top: 32px;
            }
            
            .icon-box {
                position: absolute;
                left: 153px;
                bottom: -76px;
                background-color: #ededed;
                padding: 0 90px;
            }
            h1 {
                position: absolute;
                right: -36.2%;
                top: 84px;
                letter-spacing: 12.7px;
            }
            .mark-title {
                color: $color-3;
                font-size: 34px;
                font-weight: 800;
                letter-spacing: 15.2px;
                position: absolute;
                top: -27px;
                left: 26px;
            }
        }
    }
}

.collections-section {
    padding: 176px 0 65px;
    .heading-section {
        margin-bottom: 109px;
        h1 {
            letter-spacing: 16.5px;
            margin-right: 105px;
            margin-bottom: 30px;
        }
        .sub-box {
            text-align: end;
            .sub-title {
                font-size: 21.5px;
                line-height: 28px;
                padding-left: 6px;
                padding-right: 22.4%;
                letter-spacing: -0.3px;
                display: inline-flex;
                color: #6e6555;
                background-color: #e1d9c9;
                &::before {
                    content: "";
                    position: absolute;
                    width: 138px;
                    height: 2px;
                    margin-left: -153px;
                    margin-top: 3px;
                    background-color: $color-2;
                }
            }
        }
    }
    .wrap-collections {
        padding-left: 28px;
        .box {
            .step {
                color: #969696;
                line-height: 45px;
                letter-spacing: 18px;
                &.step-1 {
                    display: inline-flex;
                    justify-content: end;
                    margin-bottom: 21px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 138px;
                        height: 2px;
                        margin-right: -134px;
                        background-color: $color-2;
                    }
                }
                &.step-2 {
                    margin-right: 25px;
                    margin-bottom: 3px;
                }
                &.step-3 {
                    text-align: end;
                    margin-right: -58px;
                    margin-bottom: 3px;
                }
            }
            .inner {
                &.inner-1 {
                    padding-left: 39px;
                }
                &.inner-3 {
                    padding: 0 140px 0 193px;
                }
                &.inner-4 {
                    padding: 0 194px 0 264px;
                }
                .content {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 68px;
                        margin-top: -90px;
                        background-color: $color-2;
                    }
                    &.content-1 {
                        padding: 150px 167px 0 104px;
                    }
                    &.content-2 {
                        padding: 110px 116px 0 187px;
                        margin-bottom: 36px;
                        &::before {
                            margin-top: -114px;
                            margin-left: 13px;
                        }
                        h3 {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 105%;
                                bottom: -13px;
                                right: 0;
                                height: 30px;
                                margin-top: -10px;
                                background-color: #e1d9c9;
                                z-index: -1;
                            }
                        }
                        .item {
                            padding-left: 165px;
                        }
                        p {
                            margin-bottom: 14px;
                        }
                        .button-btn {
                            margin-bottom: 0;
                        }
                    }
                    &.content-3 {
                        padding: 23px 0 0 193px;
                        &::before {
                            display: none;
                        }
                        h3 {
                            margin-bottom: 33px;
                        }
                        p {
                            margin-left: 0;
                            letter-spacing: 0;
                        }
                    }
                    h3 {
                        font-size: 26.86px;
                        letter-spacing: 7px;
                        margin-bottom: 23px;
                    }
                    p {
                        line-height: 22.5px;
                        margin-left: 2px;
                        letter-spacing: 0.3px;
                        font-family: 'Roboto';
                        margin-bottom: 21px;
                    }
                    .button-btn {
                        margin-bottom: 71px;
                        a {
                            font-size: 12.5px;
                            margin-left: 2px;
                            &::after {
                                font-family: 'Font Awesome 5 Pro';
                                font-size: 14px;
                                font-weight: 500;
                                content: "\f105";
                                margin-left: 8px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .logo-box {
                        padding-left: 13px;
                        img {
                            margin-left: 14px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            width: 2px;
                            height: 128px;
                            margin-bottom: -90px;
                            background-color: $color-2;
                            z-index: 2;
                        }
                    }
                }
                .title-group {
                    padding-top: 65px;
                    margin-right: -38px;
                    z-index: 2;
                    li {
                        letter-spacing: 21px;
                        span {
                            box-shadow: rgba(0, 0, 0, 0.35) 39px 0px 38px;
                        }
                    }
                }
            }
            .images-2 {
                margin-top: -110px;
                padding-right: 198px;
                border-left: 23px solid #fff;
                z-index: 1;
            }
            .images-3 {
                border-right: 20px solid #fff;
                border-bottom: 20px solid #fff;
                z-index: 2;
            }
            .images-4 {
                margin-top: -151px;
            }
        }
        
    }
}

.shop-section {
    padding-bottom: 210px;
    .wrap-shop {
        margin-right: 300px;
        .box {
            width: 162px;
            height: 162px;
            margin-right: 45px;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                .images {
                    &::before {
                        opacity: 1;
                    }
                }
                .icon-plus {
                    opacity: 1;
                    z-index: 99;
                    top: 50%;
                    @include transition3;
                }
            }
            .images {
                border-radius: 10px;
                overflow: hidden;
                &::before {
                    content: "";
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    background: #00000080;
                    width: 100%;
                    height: 100%;
                    @include transition5;
                    z-index: 99;
                    opacity: 0;
                    border-radius: 10px;
                }
            }
            .icon-plus {
                position: absolute;
                top: 40%;
                transform: translate(-50%, -50%);
                left: 50%;
                opacity: 0;
                @include transition3;
                i {
                    font-size: 38px;
                    color: $color-1;
                }
            }
        }
    }
}

